<% if @invites.count === 0 %>
  <div class="no-chats-div">
    <p class="no-chats-p">No invites</p>
  </div>
<% else %>
  <div id="invites-container">
    <p class="friend-request-index-title">Invitations</p>
    
    <div class="invites-flex-div">
      <% @invites.each do |invite| %>
        <div id="<%= "parent-invite-div-#{invite.id}" %>" class="invite-div-container">

          <div class="invite-top-div">
            <%= link_to invite.host do %>
              <%= user_avatar(invite.host, 50, "", "invite-avatar") %>
            <% end %>

            <p class="invite-description">
              <%= invite.host.username %> has invited you to their chat room "<%= invite.chat.name %>"
            </p>
          </div>

          <div id="invite-<%= invite.id %>" class="invite-btn-div">
            <%= link_to ajax_joined_chat_create_path(choice: "Accept", chat_id: invite.chat_id, host_id: invite.host_id, guest_id: invite.guest_id, html_id: "invite-#{invite.id}", parent_html_id: "parent-invite-div-#{invite.id}"), method: :put, remote: true, class: "invite-index-accept invite-index-btn" do %>
              <i class="fas fa-check invite-index-accept"></i> Accept
            <% end %>

            <%= link_to ajax_joined_chat_create_path(choice: "Decline", chat_id: invite.chat_id, host_id: invite.host_id, guest_id: invite.guest_id, html_id: "invite-#{invite.id}", parent_html_id: "parent-invite-div-#{invite.id}"), method: :put, remote: true, class: "invite-index-decline invite-index-btn" do %>
              <i class="fas fa-times invite-index-decline"></i> Decline
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>