<div>

  <% already_joined_count = 0 %>

  <% if @friends.count === 0 %>
    <div class="no-chats-div">
      <p class="no-chats-p">No friends to invite</p>
    </div>
  <% else %>
    <h1 class="invite-chat-title">Invite Friends</h1>
    <p class="invite-chat-sub-title">to your chat room "<%= @chat.name %>"</p>

    <div class="invite-chat-mid">
      <% @friends.each do |friend| %>
        <% already_joined_count += 1 if chat_joined?(friend, @chat) %>
        <% next if chat_joined?(friend, @chat) %>

        <div class="chat-invite-item-div">
          <%= link_to friend do %>
            <%= user_avatar(friend, 100, "", "chat-invite-avatar #{friend.online_status.status} user-#{friend.id}-status") %>
          <% end %>

          <%= link_to friend.username, friend, class: "chat-invite-username" %>
          
          <% if invite_exists?(current_user, friend, @chat) %>
            <p class="chat-invite-sent chat-invite-btn"><i class="fas fa-clock chat-invite-sent"></i> Sent</p>
          <% else %>
            <%= link_to ajax_invite_create_path(host_id: current_user.id, guest_id: friend.id, chat_id: @chat.id, html_id: "invite-user-#{friend.id}"), remote: true, method: :put, id: "invite-user-#{friend.id}", class: "chat-invite-link chat-invite-btn" do %>
              <i class="fas fa-plus chat-invite-btn"></i> Invite
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= render "global_partials/will_paginate", locals: {data: @friends, inner_window: 1, outer_window: 0, previous_label: '◀', next_label: '▶'} %>

    <% if @friends.count === already_joined_count %>
      <div class="invite-chat-no-more-remaining">
        <p class="no-chats-p">No more friends to invite</p>
      </div>
    <% end %>
  <% end %>
</div>