<div class="user-edit-container">
  <p class="user-edit-title">Edit Info</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "user-edit-form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="user-edit-ava-field">
      <div>
        <%= user_avatar(current_user, 50, "", "user-edit-avatar") %>
      </div>

      <%= f.file_field :avatar %>
    </div>

    <div class="user-edit-double-field">
      <div class="user-edit-field">
        <%= f.label :username, class: "edit-user-label" %>
        <%= f.text_field :username, class: "edit-user-text-field", id: "username-field" %>

        <p id="username-valid-txt-1" class="validations-labels">must be 4-16 characters (0)</p>
        <p id="username-valid-txt-2" class="validations-labels">includes only letters and numbers</p>
      </div>

      <div class="user-edit-field">
        <%= f.label :email, class: "edit-user-label" %>
        <%= f.email_field :email, autocomplete: "email", class: "edit-user-text-field", id: "email-field" %>

        <p id="email-valid-txt-1" class="validations-labels">email must be valid</p>
        <p id="email-valid-txt-2" class="validations-labels">email required</p>
      </div>
    </div>

    <div class="user-edit-double-field">
      <div class="user-edit-field">
        <%= f.label :first_name, class: "edit-user-label" %>
        <%= f.text_field :first_name, class: "edit-user-text-field", id: "firstname-field" %>

        <p id="firstname-valid-txt-1" class="validations-labels">name must be between 1-60 characters long (0)</p>
      </div>

      <div class="user-edit-field">
        <%= f.label :last_name, class: "edit-user-label" %>
        <%= f.text_field :last_name, class: "edit-user-text-field", id: "lastname-field" %>

        <p id="lastname-valid-txt-1" class="validations-labels">name must be between 1-60 characters long (0)</p>
      </div>
    </div>

    <div class="user-edit-field">
      <%= f.label :bio, class: "edit-user-label" %>
      <%= f.text_area :bio, class: "edit-user-text-area", id: "bio-field" %>

      <p id="bio-valid-txt-1" class="validations-labels">character limit is 150 (0)</p>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <p id="change-password-btn" class="no-select">Change Password</p>

    <div id="edit-user-password-1" class="user-edit-field">
      <%= f.label :password, class: "edit-user-label" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "edit-user-text-field", id: "password-field" %>
      
      <p id="password-valid-txt-1" class="validations-labels">must be between 6-128 characters (0)</p>
    </div>

    <div id="edit-user-password-2" class="user-edit-field">
      <%= f.label :password_confirmation, class: "edit-user-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "edit-user-text-field", id: "con-password-field" %>

      <p id="con-password-valid-txt-1" class="validations-labels">must be between 6-128 characters (0)</p>
    </div>

    <%= f.submit "Update", class: "edit-user-submit" %>
  <% end %>

  <div class="user-edit-delete-div">
    <p id="delete-account-btn" class="no-select">Delete my account</p>

    <div id="user-delete-options-div">
      <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, id: "user-delete-btn" %>

      <p id="user-edit-cancel-btn" class="no-select">Cancel</p>
    </div>
  </div>
</div>