<% if params[:search] && @users.length === 0 %>
  <%= render "users/search" %>
  
  <div class="no-users-div">
    <p class="no-users-title">No Results Found For</p>
    <% if params[:search].length < 30 %>
      <P class="no-user-params">"<%= params[:search] %>"</P>
    <% else %>
      <P class="no-user-params">"<%= params[:search][0..29] %>..."</P>
    <% end %>
  </div>
<% else %>
  <% if @users.count === 0 %>
    <div class="no-chats-div">
      <p class="no-chats-p">No other users yet</p>
    </div>
  <% else %>
    <%= render "users/search" %>

    <div class="user-index-div">
      <p class="user-index-title">Find new friends</p>
      <div class="user-options-div">
        <% @users.each do |user| %>
          <% next if current_user === user %>

          <%= render "global_partials/user_request_options", locals: {user: user} %>
        <% end %>
      </div>
    </div>

    <%= render "global_partials/will_paginate", locals: {data: @users, inner_window: 1, outer_window: 0, previous_label: '◀', next_label: '▶'} %>
  <% end %>
<% end %>