<% chat = locals[:chat] %>

<div class="chat-item-div">
  <%= link_to chat.host do %>
    <%= user_avatar(chat.host, 55, "", "chat-item-avatar") %>
  <% end %>

  <div class="chat-item-details div-link" onclick='location.href="<%= chat_path(chat) %>";'>
    <%= link_to chat.name, chat, class: "chat-item-name" %>
    <p class="chat-item-host">Host: <%= chat.host.username %></p>
    <p class="chat-item-user-count"><i class="fas fa-users chat-item-user-count"></i> <%= chat.users.count %></p>
  </div>

  <div class="chat-item-dropdown">
    <% if chat.host === current_user %>
    
      <i id="<%= "chat-dots-id-#{chat.id}" %>" class="fas fa-ellipsis-h chat-item-dots" onclick='
        let dropContent = document.getElementById(`<%= "chat-item-drp-c-#{chat.id}" %>`);

        dropContent.style.display = `block`;

        let dot = document.getElementById(`<%= "chat-dots-id-#{chat.id}" %>`);

        document.addEventListener("click", (e) => {
          if (e.target.id != "<%= "chat-dots-id-#{chat.id}" %>") {
            dropContent.style.display = "none";
          }
        });
      '></i>

      <div id="<%= "chat-item-drp-c-#{chat.id}" %>" class="chat-opt-drop-content">
        <%= link_to edit_chat_path(chat) do %>
          <i class="fas fa-pen nav-icon"></i> Edit
        <% end %>

        <%= link_to chat, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash nav-icon"></i> Delete
        <% end %>
      </div>
    <% end %>
  </div>
</div>