<div class="new-chat-parent-div">
  <% if @chat.errors.any? %>
    <div>
      <p><%= flash[:danger] %></p>
      <ul>
        <% @chat.errors.full_messages.each do |msg| %>
          <li><span><%= msg %></span></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form_with model: @chat, html: {id: "new-chat-form"} do |f| %>
    <%= f.text_field :name, placeholder: "Chat name", class: "new-chat-field" %>

    <%= f.submit "Submit", id: "new-chat-submit" %>
  <% end %>
</div>