<div class="new-chat-parent-div">
  <% if @chat.errors.any? %>
    <div class="error-div">
      <p class="error-title"><%= flash[:danger] %></p>
      <ul>
        <% @chat.errors.full_messages.each do |msg| %>
          <li class="error-li"><span><%= msg %></span></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form_with model: @chat, html: {id: "new-chat-form"} do |f| %>
    <%= f.text_field :name, placeholder: "Chat name", id: "chat-name-input", class: "new-chat-field" %>
    <p id="new-chat-name-errors-length">must be between 1-30 characters (<span id="new-chat-current-char">0</span>)</p>

    <%= f.submit "Submit", id: "new-chat-submit" %>
  <% end %>
</div>