<h1>Chat show</h1>

<p>Name: <%= @chat.name %></p>
<p>Host: <%= link_to @chat.host.username, @chat.host %></p>
<% if @chat.host === current_user %>
  <%= link_to "Edit", edit_chat_path(@chat) %>
  <%= link_to "Delete", @chat, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to "Invite Friends", invite_path(@chat) %>
<% else %>
  <%= 
    link_to "Leave", 
    ajax_joined_chat_destroy_path(
      chat_id: @chat.id,
      guest_id: current_user.id,
      host_id: @chat.host.id,
      choice: "leave"
    ), 
    method: :put, 
    remote: true, 
    data: { confirm: "You won't be able to join back unless invited." }
  %>
<% end %>

<% unless @chat.users.count === 0 %>
  <h3>Users joined:</h3>

  <ul>
    <li><%= link_to @chat.host.username, @chat.host %></li>
    <% @chat.users.each do |user| %>
      <li id=<%= "joined-user-#{user.id}" %>>
        <%= link_to user.username, user %>
          <% if current_user === @chat.host %>
            <%= 
              link_to "Kick", 
              ajax_joined_chat_destroy_path(
                chat_id: @chat.id,
                guest_id: user.id,
                host_id: @chat.host.id,
                choice: "kick",
                parent_html_id: "joined-user-#{user.id}"
              ), 
              method: :put, 
              remote: true, 
              data: { confirm: "Are you sure you want to kick out #{user.username}?" }
            %>
          <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<div>
  <%= render "messages/form" %>
</div>

<div id="chat-box" data-user-id="<%= current_user.id %>" data-chat-id="<%= @chat.id %>">
  <% @chat.messages.order('created_at ASC').each do |message| %>
    <%= render "messages/message", locals: {message: message} %>
  <% end %>
</div>