<h1>Chat show</h1>

<p>Name: <%= @chat.name %></p>
<p>Host: <%= link_to @chat.host.username, @chat.host %></p>
<% if @chat.host === current_user %>
  <%= link_to "Edit", edit_chat_path(@chat) %>
  <%= link_to "Delete", @chat, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to "Invite Friends", invite_path(@chat) %>
<% else %>
  <%= 
    link_to "Leave", 
    ajax_joined_chat_destroy_path(
      chat_id: @chat.id,
      guest_id: current_user.id
    ), 
    method: :put,
    remote: true
  %>
<% end %>

<div>
  <%= render "messages/form" %>
</div>

<div id="chat-box" data-user-id="<%= current_user.id %>" data-chat-id="<%= @chat.id %>">
  <% @chat.messages.order('created_at ASC').each do |message| %>
    <%= render "messages/message", locals: {message: message} %>
  <% end %>
</div>