<div class="chat-show-container">
  <div class="chat-top-bar">
    <% if @chat.host === current_user %>
      <div class="chat-show-host-options">
        <p id="chat-show-options-btn" class="no-select"><i id="options-dash" class="fas fa-align-justify"></i> <span class="top-bar-icon-text">Options</span></p>

        <div id="host-options">
          <%= link_to "Invite Friends", invite_path(@chat) %>
          <%= link_to "Edit", edit_chat_path(@chat) %>
          <%= link_to "Delete", @chat, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% else %>
      <%= 
        link_to "Leave", 
        ajax_joined_chat_destroy_path(
          chat_id: @chat.id,
          guest_id: current_user.id,
          host_id: @chat.host.id,
          choice: "leave"
        ), 
        method: :put, 
        remote: true, 
        data: { confirm: "You won't be able to join back unless invited." },
        class: "chat-show-leave"
      %>
    <% end %>

    <p class="chat-show-name"><%= @chat.name %></p>

    <div>
      <p id="chat-show-guests-btn" class="no-select"><i class="fas fa-users no-select"></i> <span class="top-bar-icon-text">Guests</span></p>

      <div id="chat-show-guests-div">
        <i id="close-guest-div-btn" class="fas fa-times no-select"></i>
        <div id="guest-inner-div">
          <div class="guest-div">
            <%= link_to @chat.host do %>
              <% host_status = @chat.host.online_status %>
              <%= user_avatar(@chat.host, 40, "", "guest-avatar #{host_status.status} user-#{@chat.host.id}-status") %>
            <% end %>
            <%= link_to @chat.host.username, @chat.host, class: "guest-username-link" %>
            <p class="guest-host-label">Host</p>
          </div>

          <% unless @chat.users.count === 0 %>
            <div class="guest-item-container">

              <% @chat.users.each do |user| %>
                <div id=<%= "joined-user-#{user.id}" %> class="guest-div">
                  <%= link_to user do %>
                    <% user_status = user.online_status %>
                    <%= user_avatar(user, 40, "", "guest-avatar #{user_status.status} user-#{user.id}-status") %>
                  <% end %>
                  <%= link_to user.username, user, class: "guest-username-link" %>
                    <% if current_user === @chat.host %>
                      <%= 
                        link_to "Kick", 
                        ajax_joined_chat_destroy_path(
                          chat_id: @chat.id,
                          guest_id: user.id,
                          host_id: @chat.host.id,
                          choice: "kick",
                          parent_html_id: "joined-user-#{user.id}"
                        ), 
                        method: :put, 
                        remote: true, 
                        data: { confirm: "Are you sure you want to kick out #{user.username}?" },
                        class: "guest-kick-link"
                      %>
                    <% else %>
                      <div></div>
                    <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="chat-parent">
    <div id="chat-box" data-user-id="<%= current_user.id %>" data-chat-id="<%= @chat.id %>" class="chat-show-messages-div">

      <%= link_to "Show more", more_messages_path(start: -10, chat_id: @chat.id), method: :put, remote: true, id: "show-more-messages" %>

      <% @messages.each do |message| %>
        <%= render "messages/message", locals: {message: message} %>
      <% end %>

    </div>
  </div>

   <%= render "messages/form" %>
</div>