<h1>Chat show</h1>

<p>Name: <%= @chat.name %></p>
<p>Host: <%= link_to @chat.host.username, @chat.host %></p>
<% if @chat.host === current_user %>
  <%= link_to "Edit", edit_chat_path(@chat) %>
  <%= link_to "Delete", @chat, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<div>
  <%= render "messages/form" %>
</div>

<% @chat.messages.each do |message| %>
  <% is_author = message.user === current_user %>
  <p><%= message.content %> by: <%= is_author ? "Me" : full_name(message.user) %> <%= link_to "Delete", chat_message_path(@chat, message), method: :delete, data: { confirm: 'Are you sure?' } if is_author %></p>
<% end %>