var parentDiv = document.getElementById("<%= params[:parent_div] %>");
var optionsDiv = document.getElementById("<%= params[:options_div] %>");

<% if params[:choice] === "Accept" %>
  var content = `
    <a
      id="unfriend-<%= @user_b.id %>"
      data-remote="true"
      data-method="delete"
      rel="nofollow" 
      href="<%= raw ajax_friendship_destroy_friendship_path(id: @user_b.id, html_id: "unfriend-#{@user_b.id}") %>"
    >
      Unfriend
    </a>`;

  parentDiv.insertAdjacentHTML("afterend", content);
  parentDiv.remove();
<% else %>
  var content = `
    <a 
      id="request-<%= @user_b.id %>" 
      data-remote="true" 
      rel="nofollow" 
      data-method="put" 
      href="<%= raw ajax_friend_request_friend_request_path(requestor_id: current_user.id, receiver_id: @user_b.id, html_id: "request-#{@user_b.id}", id: 0) %>">
        Add
    </a>`;

  parentDiv.insertAdjacentHTML("afterend", content);
  parentDiv.remove();
<% end %>