<% if user_signed_in? %>
  <div id="nav-bar">
    <div id="nav-first-div">
      <%= link_to root_path, id: "nav-logo" do %>
        <i class="fas fa-globe nav-icon"></i> Quick Chats
      <% end %>
    </div>

    <div id="nav-second-div">
      <%= link_to chats_path, class: "nav-link" do %>
        <i class="fas fa-comments nav-icon"></i> <span class="nav-link-text">Chats</span>
      <% end %>

      <%= link_to new_chat_path, class: "nav-link" do %>
        <i class="fas fa-comment-medical nav-icon"></i> <span class="nav-link-text">Create</span>
      <% end %>

      <%= link_to friends_path(current_user.id), class: "nav-link" do %>
        <i class="fas fa-users nav-icon"></i> <span class="nav-link-text">Friends</span>
      <% end %>

      <%= link_to users_path, class: "nav-link" do %>
        <i class="fas fa-globe nav-icon"></i> <span class="nav-link-text">People</span>
      <% end %>

      <%= link_to friend_requests_path, class: "nav-link" do %>
        <i class="fas fa-user-plus nav-icon"></i> <span class="nav-link-text">Friend Requests</span>
      <% end %>
    
      <%= link_to invitations_path, class: "nav-link" do %>
        <i class="fas fa-envelope nav-icon"></i> <span class="nav-link-text">Invites</span>
      <% end %>

      <div class="dropdown">
        <%= user_avatar(current_user, 40, "nav-pic", "nav-avatar") %>

        <div id="nav-drop-content" class="drop-content">
          <%= link_to current_user do %>
            <i class="fas fa-user-circle nav-icon"></i> Profile
          <% end %>

          <%= link_to edit_user_registration_path do %>
            <i class="fas fa-cog nav-icon"></i> Settings
          <% end %>

          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt nav-icon"></i> Log out
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>